# Ignore everything
/*

# Keep this file
!.gitignore

# Keep core code and files
!modules/
!modules/**
!Cavity.gds
!Holes.gds
!requirements.txt
!README.md
!run_complete_analysis.py
!Photonic_Cavity_Workflow.ipynb

# Keep ONLY 0.19 µm results
!*0.19*.hdf5
!*0.19*.json
